@import "./_color";

.navbar-default {
	background: rgba(255,255,255,.8);
	position: fixed;
	width: 100%;
	padding: 0 30px;
	border-radius: 0;
	z-index: 20;

	.navbar-header {
		.navbar-brand {
			color: $text;
			&:hover {
				opacity: .8;
			}
			height: 80px;

			img {
				display: inline-block;
			}
			.icon-text {
				display: inline-block;
				vertical-align: middle;
				padding: 6px 5px 4px;
			}
		}
	}
	
	.navbar-nav {
		height: 80px;
		> li {
			height: 100%;
			border-left: 2px solid #ccc;
			padding: 15px 0;
			cursor: pointer;
			font-weight: bold;
			
			@media all and (max-width: 767px) {
				background: rgba(255,255,255,.8);
			}
			> a {
				color: $text;
				&:hover {
					opacity: 1;
					background: inherit;
				}
			}
			&:hover, &.active { 
				background: $bg-color2;
				a, a:hover { 
					color: #fff; 
					background: inherit;
				}
			}
		}
	
	}
}

@media all and (max-width: 767px) {
  ul.nav.navbar-nav.navbar-right {
    text-align: center;
  }

}
.navbar-fixed-top {
  padding: 0px 15px;
}
