@import "./_layout";

.container-fluid {
	margin: 0 auto;
	padding: 0;
}

#dialog {
	#dialog-title {
		position: fixed;
		bottom: 0;
		right: 5px;
		padding: 5px 15px;
		color: #fff;
		width: 200px;
		background: #B13501;
		border-top: 1px solid $text;
		border-left: 1px solid $text;
		border-right: 1px solid $text;
		cursor: pointer;
		z-index: 10;
		i { color: #8ab325; }
	}

	#dialog-content {
		display: none;
		border-top: 1px solid $text;
		border-left: 1px solid $text;
		border-right: 1px solid $text;
		background: #ededed;
		z-index: 10;
		position: fixed;
		margin: 0;
		bottom: 0;
		right: 5px;
		width: 400px;
		text-align: center;
		input,textarea {
			margin: 10px 0;
		}
		button {
			background: #B13501;
			border: none;
			color: #fff;
		}
		#dialog-content-title {
			cursor: pointer;
			width: 100%;
			text-align: left;
			background: #B13501;
			color: white;
			i { color: #8ab325; }
			padding: 5px 15px;
			.glyphicon-remove {
				color: #fff;
				float: right;
			}
		}
		form {
			padding: 20px 15px ;
		}
	}
}

.sections {
	padding: 90px 10px 10px;
}

#sec1 {
	background-image: url("../images/first.jpg");
	background-size: cover;
	background-position: center;
	height: 100%;
	margin: 0;
	#sec1-content {
		position: absolute;
		top: 30%;
		left: 25%;
		width: 50%;
		@media all and (max-width: 767px) {
			width: 90%;
			left: 5%;
		}

		#iconTitle {
			font-size: 30px;
			background: rgba(255,255,255,.6);
			min-width: 100%;
			text-align: center;
			margin-bottom: 50px;
			img {
				display: inline-block;
			}
			.icon-text {
				text-align: left;
				display: inline-block;
				vertical-align: middle;
				padding: 6px 5px 4px;
			}
		}

		.form-group input{
			opacity: .8;
			border: 1.5px solid $text;
			border-radius: 0;
			font-size: 25px;
			height: 60px;
		}
	}
}

#sec2 {
	min-height: 100%;
	div {
		background-size: contain;
		background-position: center;
		background-repeat: no-repeat;
		font-size: 20px;
		&.doubleH {
			padding: 20% 0;
		}
		&.singleH {
			padding: calc(5% - 12px) 0;
		}
		&.innerH {
			padding: 30% 0;
		}
		@media all and (max-width: 767px) {
			&.innerH {
				width: 50%;
				position: relative;
				float: left;
				padding: 10% 0;
			}
			&.doubleH { 
				position: relative; 
				float: left;
				width: 100%;
			}
		}
	}
	#bob-1 {
		background-image: url("../images/bob-1.png");
		padding-left: 40%;
		font-size: 1.5em;
		@media all and (max-width: 767px) {
			padding-left: 20%;
		}
	}
	#bob-2 {
		background-image: url("../images/bob-2.png");
		padding-left: 50%;
		font-size: 1em;
		@media all and (max-width: 767px) {
			padding-left: 20%;
		}
	}
	#bob-3 {
		background-image: url("../images/bob-3.png");
		padding-left: 35%;
		font-size: 2em;
		@media all and (max-width: 767px) {
			padding-left: 20%;
		}
	}
	#bob-4 {
		background-image: url("../images/bob-4.png");
		padding-left: 30%;
		font-size: 1.2em;
		@media all and (max-width: 767px) {
			padding-left: 15%;
		}
	}
	#bob-5 {
		background-image: url("../images/bob-5.png");
		padding-left: 8%;
		font-size: 2.5em;
		@media all and (max-width: 767px) {
			padding-left: 30%;
		}
	}
}

#sec3 {
	background-image: url("../images/third.jpg");
	background-size: cover;
	background-position: center;
	min-height: 100%;
	margin: 0;
	padding-left: 5%;
	padding-right: 5%;

	h2 {
		color: #fff;
	}

	.row { margin: 0; }

	.entrance {
		background: rgba(255,255,255,.6);
		margin: 8px;
		font-size: 25px;
		font-weight: bold;
		text-align: center;
		&.doubleH {
			padding: 10% 0;
		}
		&.singleH {
			padding: calc(5% - 12px) 0;
		}
		&.singleW {
			width: calc(19% - 8px);
		}
		&.doubleW {
			width: 38%;
		}
		@media all and (max-width: 767px) {
			&.doubleH, &.singleH { padding: 50px; }
			&.singleW, &.doubleW { width: 45%; }
		}
	}
}

