<nav class="navbar navbar-default">
<div class="container-fluid">
<div class="navbar-header">
  <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
    <span class="sr-only">Toggle navigation</span>
    <span class="icon-bar"></span>
    <span class="icon-bar"></span>
    <span class="icon-bar"></span>
  </button>
  <a class="navbar-brand" href="/">
		<img alt="考選部" width="50" height="50" src="./images/logo.png"/>
		<div id="icon-text">
			<span>中華民國考選部</span><br/>
			<span>Ministry of Examination R.O.C.</span>
		</div>
  </a>
</div>

 <div id="navbar" class="navbar-collapse collapse">

    <ul class="nav navbar-nav navbar-right">
      <li class="divider-vertical">
        <a id="home" href="/">關於考選部</a>
      </li>
      <li class="divider-vertical"><a href="/about">考選法規</a></li>
      <li class="divider-vertical"><a href="/sponsor">考試資訊</a></li>
      <li class="divider-vertical"><a href="/report">資料與統計</a></li>
      <li class="divider-vertical"><a href="/blog">便民服務</a></li>
      <li><a href="/en">English</a></li>
    </ul>

  </div><!--/.nav-collapse -->
</div><!--/.container-fluid -->
</nav>
