<html>
  <head>
    {{> head}}
    <link rel="stylesheet" href="./css/home.css">
  </head>
  <body>

    {{> header }}
  <div class="container-fluid">
		<div id="dialog">
			<div id="dialog-title">
				<i class="glyphicon glyphicon-certificate"></i> &nbsp;&nbsp;問題傳送門
			</div>
			<div id="dialog-content">
				<div>
					<i class="glyphicon glyphicon-certificate"></i> &nbsp;&nbsp;問題傳送門
					<i class="glyphicon glyphicon-remove"></i>
				</div>
				<form role="form">
					<input type="text" class="form-control" id="name" placeholder="姓名"/>
					<input type="text" class="form-control" id="email" placeholder="Email"/>
					<textarea class="form-control" rows="5" id="comment" placeholder="意見"></textarea>
					<button type="submit" class="btn btn-default">Submit</button>
				</form>
			</div>
		</div>
		<div id="sec1" class="sections">
			<div class="form-group">
				<input class="form-control input-lg" id="inputlg" type="text" placeholder="Search..." />
			</div>
		</div>
		<div id="sec2" class="sections row">
			<div class="col-md-4">
				<div id="bob-1" class="innerH">歷屆試題</div>
				<div id="bob-2" class="innerH">考題違規列表</div>
			</div>
			<div id="bob-5" class="col-md-4 doubleH">考試資訊</div>
			<div class="col-md-4">
				<div id="bob-4" class="innerH">線上模擬</div>
				<div id="bob-3" class="innerH">日期與場次</div>
			</div>
		</div>
		<div id="sec3" class="sections">
			<h2>政府機關入口網站 / </h2>
			<div class="row">
				<div class="col-md-2 entrance doubleH singleW">總統府</div>
				<div class="col-md-4 entrance singleH doubleW">立法院</div>
				<div class="col-md-2 entrance singleH singleW">考試院</div>
				<div class="col-md-2 entrance singleH singleW">監察院</div>
				<div class="col-md-4 entrance singleH doubleW">行政院</div>
				<div class="col-md-4 entrance singleH doubleW">司法院</div>
				<div class="col-md-4 entrance singleH doubleW">國家安全會議</div>
				<div class="col-md-4 entrance singleH doubleW">地方機關</div>
			</div>
		</div>
  </div>
    {{> footer }}
    <script src="./js/home.js"></script>
  </body>
</html>
