<html>
  <head>
    {{> head}}
    <link rel="stylesheet" href="./css/home.css">
  </head>
  <body>

    {{> header }}
  <div class="container-fluid">
		<div id="sec1">
			<div class="form-group">
				<input class="form-control input-lg" id="inputlg" type="text" placeholder="Search..." />
			</div>
		</div>
  </div>
	<div style="height:90px;"></div>
    {{> footer }}
    <script src="./js/home.js"></script>
  </body>
</html>
